<div class="container">
  <div
    *ngIf="!backgroundImg; else background"
    class="content content-img"
    [ngClass]="reversed ? 'content-img-rev' : null"
  >
    <div
      *ngIf="sectionHeader != null"
      class="section-header"
      [ngStyle]="{ 'text-align': headerCentered ? 'center' : null }"
    >
      <h2>{{ sectionHeader.title }}</h2>
      <p [ngStyle]="textAlign ? { 'text-align': textAlign } : {}">
        {{ sectionHeader.text }}
      </p>
      <app-button
        *ngIf="url != null"
        [url]="url!"
        [buttonText]="buttonText!"
      ></app-button>
    </div>
    <div
      *ngFor="let image of images"
      class="image"
      [ngClass]="image.boxed ? 'image-box' : null"
    >
      <img
        [src]="image.imagePath"
        [alt]="image.alt"
        [ngStyle]="image.size ? { 'max-height': image.size + 'px' } : {}"
      />
    </div>
  </div>
  <ng-template #background>
    <div class="content content-foreground">
      <div
        *ngIf="sectionHeader != null"
        class="section-header"
        [ngStyle]="{ 'text-align': headerCentered ? 'center' : null }"
      >
        <h2>{{ sectionHeader.title }}</h2>
        <p [ngStyle]="textAlign ? { 'text-align': textAlign } : {}">
          {{ sectionHeader.text }}
        </p>
        <app-button
          *ngIf="url != null"
          [url]="url!"
          [buttonText]="buttonText!"
        ></app-button>
      </div>
    </div>
    <div *ngFor="let image of images" class="image">
      <img
        [src]="image.imagePath"
        [alt]="image.alt"
        [ngStyle]="image.size ? { width: image.size + 'px' } : {}"
      />
    </div>
  </ng-template>
</div>
