@import "../../../variables.scss";

.container {
  display: flex;

  > .content {
    text-shadow: 0 0 4px $secondary-background, 0 0 4px $secondary-background,
      0 0 4px $secondary-background, 0 0 4px $secondary-background;

    p {
      font-size: 1.5rem;
    }
    padding: 40px 20px;
    @media (max-width: 768px) {
      text-align: center;
      app-button {
        display: flex;
        justify-content: center;
      }
    }
  }

  > .content-foreground {
    > div {
      padding-right: 30%;
    }
  }

  > .content-img {
    display: flex;

    gap: 20px;
    align-items: center;
    justify-content: space-between;
    > .image {
      > img {
      }
    }
  }
  @media (max-width: 768px) {
    > .content-foreground {
        > div {
          padding-right: 0;
        }
      }
    > .content-img {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > .image {
        align-self: center;
        > img {
          border-radius: 10px;
          text-align: center;
        }
      }
    }
  }

  > .image {
    width: 100%;
    overflow: hidden;
    position: absolute;
    > img {
      z-index: 4;
      position: relative;
      left: 50%;
      margin: 20px 0px;
      @media (max-width: 768px) {
        left: 20%;
        width: 150%;
      }
    }
  }

  .content-img-rev {
    flex-direction: row-reverse;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .image-box {
    > img {
      border-radius: 20px;
      box-shadow: 5px 5px 15px $primary-background;
    }
  }
}
