<div class="page">
  <app-tiles
    [sectionHeader]="{
      title: 'HOME.TECH.TITLE' | translate,
      text: 'HOME.TECH.TEXT' | translate,
    }"
    [tiles]="[
      {
        image: { imagePath: '/assets/images/logos/csharp.png', alt: 'c# logo' },
      },
      {
        image: {
          imagePath: '/assets/images/logos/netcore.png',
          alt: '.NET Core logo',
        },
      },
      { image: { imagePath: '/assets/images/logos/cpp.png', alt: 'c++ logo' } },
      {
        image: {
          imagePath: '/assets/images/logos/git.png',
          alt: 'git source control logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/mysql.png',
          alt: 'mysql logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/laravel.png',
          alt: 'laravel logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/flutter.png',
          alt: 'flutter logo',
        },
      },
      {
        image: { imagePath: '/assets/images/logos/dart.png', alt: 'dart logo' },
      },
      {
        image: {
          imagePath: '/assets/images/logos/xamarin.png',
          alt: 'xamarin logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/web.png',
          alt: 'web elements logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/postman.png',
          alt: 'postman logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/angular.png',
          alt: 'angular logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/vuejs.png',
          alt: 'vuejs logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/wordpress.png',
          alt: 'wordpress.org logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/joomla!.png',
          alt: 'joomla! logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/linux.png',
          alt: 'linux logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/vsc.png',
          alt: 'visual studio code logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/vs.png',
          alt: 'visual studio logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/nginx.png',
          alt: 'nginx logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/nodejs.png',
          alt: 'nodejs logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/ea.png',
          alt: 'enterprise architect logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/vmware.png',
          alt: 'vmware logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/figma.png',
          alt: 'figma logo',
        },
      },
      {
        image: {
          imagePath: '/assets/images/logos/labview.png',
          alt: 'labview logo',
        },
      },
    ]"
  ></app-tiles>
</div>
