@import "../../variables.scss";

.horizontal {
    ul {
        display: flex;
        justify-content: space-between;
        padding-inline-end: 40px;

        >li {
            padding: 0px 15px;
        }
    }
}

.container-footer {
    display: flex;
    background-color: $primary-background;
    height: 300px;
    align-content: center;

    >.content {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        min-height: 100%;
        max-height: 100%;


        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            justify-content: space-evenly;

            app-socials {
                display: inline-flex;
            }
        }

        >div {
            align-content: center;
        }
    }

    img {
        width: 48px;
    }
}

.container-copyright {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    align-content: center;
    background-color: $primary-background;
    border-top: 1px solid $secondary-background;

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    }
}