@import "../../../variables.scss";

.tiles {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    .tile {
        padding: 40px;
        border-radius: 20px;
        max-width: 100%;
        box-sizing: border-box;
    
        img {
            width: 140px;
        }
    }
}

.subTiles {
    margin: -20px 40px 0 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: fit-content;
    
    .tile {
        border-radius: 10px;
        width: 100px;
        height: 100px;
    
        img {
            width: 70px;
        }
    }
}

.tile {

    box-shadow: 5px 5px 20px black;
    background-color: $primary-background;
    align-content: center;
    text-align: center;
    transition: all 0.2s ease;

    h3{
        text-align: center;
    }
    p{
        text-align: justify;
    }
    &:hover {
        margin-top:-8px;
        margin-bottom: 8px;
    }
}