<div class="page">
  <app-imgtext
    [sectionHeader]="{
      title: 'Portfolio',
      text: 'HOME.PORTFOLIO.TEXT' | translate,
    }"
    [images]="[
      {
        imagePath: '/assets/images/softwareCropped.png',
        alt: 'variety of devices with software UI',
        size: 400,
        boxed: false,
      },
    ]"
    [reversed]="true"
    [backgroundImg]="false"
  ></app-imgtext>
  <app-list
    [sectionHeader]="{
      title: 'HOME.PORTFOLIO.OWNAPPS.TITLE' | translate,
      text: 'HOME.PORTFOLIO.OWNAPPS.TEXT' | translate,
    }"
    [list]="[
      {
        title: 'Redo',
        text: 'HOME.PORTFOLIO.OWNAPPS.RD.TEXT' | translate,
        image: {
          imagePath: '/assets/images/logos/RedoSmallIcon.png',
          alt: 'Redo small icon',
        },
        children: [
          {
            image: {
              imagePath: '/assets/images/logos/csharp.png',
              alt: 'c# logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/netcore.png',
              alt: '.NET Core logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/flutter.png',
              alt: 'flutter logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/railway.png',
              alt: 'railway.app logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/mysql.png',
              alt: 'mysql logo',
            },
          },
        ],
        url: '/redo',
      },
      {
        title: 'Space Engineers Blueprint Calc',
        text: 'HOME.PORTFOLIO.OWNAPPS.SEBPC.TEXT' | translate,
        icon: faCalculator,
        children: [
          {
            image: {
              imagePath: '/assets/images/logos/csharp.png',
              alt: 'c# logo',
            },
          },
        ],
        url: 'https://github.com/Guzuu/SEBlueprintCalc',
      },
      {
        title: 'Trove Pixel Art Tool',
        text: 'HOME.PORTFOLIO.OWNAPPS.TPAT.TEXT' | translate,
        image: {
          imagePath: '/assets/images/logos/PAT_icon.jpg',
          alt: 'pixel art tool icon',
        },
        children: [
          {
            image: {
              imagePath: '/assets/images/logos/csharp.png',
              alt: 'c# logo',
            },
          },
        ],
        url: 'https://github.com/Guzuu/TrovePixelArtTool',
      },
      {
        title: 'WhatPass',
        text: 'HOME.PORTFOLIO.OWNAPPS.WP.TEXT' | translate,
        image: {
          imagePath: '/assets/images/logos/whatPass.png',
          alt: 'whatpass logo',
        },
        children: [
          {
            image: {
              imagePath: '/assets/images/logos/csharp.png',
              alt: 'c# logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/netcore.png',
              alt: '.NET Core logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/js.png',
              alt: 'javascript logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/mysql.png',
              alt: 'mysql logo',
            },
          },
        ],
        url: 'https://github.com/Guzuu/WhatPass',
      },
    ]"
  ></app-list>
  <app-list
    [sectionHeader]="{
      title: 'HOME.PORTFOLIO.OWNWEBS.TITLE' | translate,
      text: 'HOME.PORTFOLIO.OWNWEBS.TEXT' | translate,
    }"
    [list]="[
      {
        title: 'guzuucode.pl',
        text: 'HOME.PORTFOLIO.OWNWEBS.GCPL.TEXT' | translate,
        image: {
          imagePath: '/assets/images/GuzuuCodeSmall.png',
          alt: 'GuzuuCode small icon',
        },
        children: [
          {
            image: {
              imagePath: '/assets/images/logos/angular.png',
              alt: 'angular logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/nginx.png',
              alt: 'nginx logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/mysql.png',
              alt: 'mysql logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/linux.png',
              alt: 'linux logo',
            },
          },
        ],
        url: 'https://github.com/Guzuu/Angolio',
      },
      {
        title: 'alternatywa-travel.pl',
        text: 'HOME.PORTFOLIO.OWNWEBS.ATPL.TEXT' | translate,
        image: {
          imagePath: '/assets/images/logos/alternatywa-travel.png',
          alt: 'alternatywa travel',
        },
        children: [
          {
            image: {
              imagePath: '/assets/images/logos/joomla!.png',
              alt: 'joomla! logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/mysql.png',
              alt: 'mysql logo',
            },
          },
        ],
        url: 'https://alternatywa-travel.pl/',
      },
      {
        title: 'artmar.eu',
        text: 'HOME.PORTFOLIO.OWNWEBS.AMEU.TEXT' | translate,
        image: {
          imagePath: '/assets/images/logos/artmar.png',
          alt: 'artmar.eu',
        },
        children: [
          {
            image: {
              imagePath: '/assets/images/logos/wordpress.png',
              alt: 'wordpress logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/nginx.png',
              alt: 'nginx logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/mysql.png',
              alt: 'mysql logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/linux.png',
              alt: 'linux logo',
            },
          },
        ],
        url: 'https://artmar.eu/',
      },
      {
        title: 'wrotki-wywrotki.pl',
        text: 'HOME.PORTFOLIO.OWNWEBS.WWPL.TEXT' | translate,
        image: {
          imagePath: '/assets/images/logos/wywrotki.png',
          alt: 'wrotkarnia wywrotki',
        },
        children: [
          {
            image: {
              imagePath: '/assets/images/logos/wordpress.png',
              alt: 'wordpress logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/mysql.png',
              alt: 'mysql logo',
            },
          },
        ],
        url: 'https://www.wrotki-wywrotki.pl/',
      },
    ]"
  ></app-list>
  <div class="image">
    <app-list
      [list]="[
        {
          title: 'HOME.PORTFOLIO.DESIGN.TITLE' | translate,
          text: 'HOME.PORTFOLIO.DESIGN.TEXT' | translate,
          icon: faPaintBrush,
        },
      ]"
    ></app-list>
  </div>
  <app-list
    [sectionHeader]="{
      title: 'HOME.PORTFOLIO.OTHERPROJ.TITLE' | translate,
      text: 'HOME.PORTFOLIO.OTHERPROJ.TEXT' | translate,
    }"
    [list]="[
      {
        title: 'mzdw.pl',
        text: 'HOME.PORTFOLIO.OTHERPROJ.MZDW.TEXT' | translate,
        image: {
          imagePath: '/assets/images/logos/mzdw.png',
          alt: 'mazowiecki zarząd dróg wojewódzkich w Warszawie logo',
          size: 180,
          boxed: true,
        },
        children: [
          {
            image: {
              imagePath: '/assets/images/logos/vuejs.png',
              alt: 'vue js logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/laravel.png',
              alt: 'laravel logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/nodejs.png',
              alt: 'nodejs logo',
            },
          },
        ],
        url: 'https://mzdw.pl/',
      },
      {
        title: 'czachauto.pl',
        text: 'HOME.PORTFOLIO.OTHERPROJ.DRCZACH.TEXT' | translate,
        image: {
          imagePath: '/assets/images/logos/drczach.png',
          alt: 'danuta ryszard czach logo',
          size: 200,
        },
        children: [
          {
            image: {
              imagePath: '/assets/images/logos/vuejs.png',
              alt: 'vue js logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/laravel.png',
              alt: 'laravel logo',
            },
          },
          {
            image: {
              imagePath: '/assets/images/logos/nodejs.png',
              alt: 'nodejs logo',
            },
          },
        ],
        url: 'https://czachauto.pl/',
      },
    ]"
  ></app-list>

  <app-tiles
    [sectionHeader]="{
      title: 'HOME.PORTFOLIO.OTHERSKILLS.TITLE' | translate,
      text: 'HOME.PORTFOLIO.OTHERSKILLS.TEXT' | translate,
    }"
    [tiles]="[
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.CLEANCODE.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.CLEANCODE.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PATTERNS.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PATTERNS.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PLANNING.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PLANNING.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.SERVERS.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.SERVERS.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.NETWORK.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.NETWORK.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.VIDEO.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.VIDEO.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PCTECH.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PCTECH.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.SOLDER.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.SOLDER.TEXT' | translate,
      },
    ]"
    [percentage]="30"
  ></app-tiles>
</div>
