<div class="page">
  <app-imgtext
    [sectionHeader]="{
      title: 'Portfolio',
      text: 'HOME.PORTFOLIO.TEXT' | translate,
    }"
    [images]="[
      {
        imagePath: '/assets/images/softwareCropped.png',
        alt: 'variety of devices with software UI',
        width: 400,
        boxed: false
      }
    ]"
    [reversed]="true"
    [backgroundImg]="false"
  ></app-imgtext>
  <app-list
    [sectionHeader]="{
      title: 'HOME.PORTFOLIO.OWNAPPS.TITLE' | translate,
      text: 'HOME.PORTFOLIO.OWNAPPS.TEXT' | translate,
    }"
    [list]="[
      {
        title: 'Redo',
        text: 'HOME.PORTFOLIO.OWNAPPS.RD.TEXT' | translate,
        imagePath: '/assets/images/logos/RedoSmallIcon.png',
        alt: 'Redo small icon',
        children: [
          { imagePath: '/assets/images/logos/csharp.png', alt: 'c#' },
          { imagePath: '/assets/images/logos/netcore.png', alt: '.NET Core' },
          { imagePath: '/assets/images/logos/flutter.png', alt: 'flutter' },
          {
            imagePath: '/assets/images/logos/railway.png',
            alt: 'railway.app logo'
          },
          { imagePath: '/assets/images/logos/mysql.png', alt: 'mysql' }
        ],
        url: '/redo'
      },
      {
        title: 'Space Engineers Blueprint Calc',
        text: 'HOME.PORTFOLIO.OWNAPPS.SEBPC.TEXT' | translate,
        icon: faCalculator,
        children: [{ imagePath: '/assets/images/logos/csharp.png', alt: 'c#' }],
        url: 'https://github.com/Guzuu/SEBlueprintCalc'
      },
      {
        title: 'Trove Pixel Art Tool',
        text: 'HOME.PORTFOLIO.OWNAPPS.TPAT.TEXT' | translate,
        imagePath: '/assets/images/logos/PAT_icon.jpg',
        alt: 'pixel art tool icon',
        children: [{ imagePath: '/assets/images/logos/csharp.png', alt: 'c#' }],
        url: 'https://github.com/Guzuu/TrovePixelArtTool'
      },
      {
        title: 'WhatPass',
        text: 'HOME.PORTFOLIO.OWNAPPS.WP.TEXT' | translate,
        imagePath: '/assets/images/logos/whatPass.png',
        alt: 'whatpass logo',
        children: [
          { imagePath: '/assets/images/logos/csharp.png', alt: 'c#' },
          { imagePath: '/assets/images/logos/netcore.png', alt: '.NET Core' },
          { imagePath: '/assets/images/logos/js.png', alt: 'javascript logo' },
          { imagePath: '/assets/images/logos/mysql.png', alt: 'mysql' }
        ],
        url: 'https://github.com/Guzuu/WhatPass'
      }
    ]"
  ></app-list>
  <app-list
    [sectionHeader]="{
      title: 'HOME.PORTFOLIO.OWNWEBS.TITLE' | translate,
      text: 'HOME.PORTFOLIO.OWNWEBS.TEXT' | translate,
    }"
    [list]="[
    { title: 'guzuucode.pl', text: 'HOME.PORTFOLIO.OWNWEBS.GCPL.TEXT' | translate, imagePath: '/assets/images/GuzuuCodeSmall.png', alt: 'GuzuuCode small icon', 
    children: [
            {imagePath: '/assets/images/logos/angular.png', alt: 'angular'},
            {imagePath: '/assets/images/logos/nginx.png', alt: 'nginx'},
            {imagePath: '/assets/images/logos/mysql.png', alt: 'mysql'},
            {imagePath: '/assets/images/logos/linux.png', alt: 'linux'},
    ],  },
    { title: 'alternatywa-travel.pl', text: 'HOME.PORTFOLIO.OWNWEBS.ATPL.TEXT' | translate, imagePath: '/assets/images/logos/alternatywa-travel.png', alt: 'alternatywa travel', 
    children: [
            {imagePath: '/assets/images/logos/joomla!.png', alt: 'joomla!'},
            {imagePath: '/assets/images/logos/mysql.png', alt: 'mysql'},
    ], 
    url: 'https://alternatywa-travel.pl/' },
    { title: 'artmar.eu', text: 'HOME.PORTFOLIO.OWNWEBS.AMEU.TEXT' | translate, imagePath: '/assets/images/logos/artmar.png', alt: 'artmar.eu', 
    children: [
            {imagePath: '/assets/images/logos/wordpress.png', alt: 'wordpress'},
            {imagePath: '/assets/images/logos/nginx.png', alt: 'nginx'},
            {imagePath: '/assets/images/logos/mysql.png', alt: 'mysql'},
            {imagePath: '/assets/images/logos/linux.png', alt: 'linux'},
    ], 
    url: 'https://artmar.eu/' },
    { title: 'wrotki-wywrotki.pl', text: 'HOME.PORTFOLIO.OWNWEBS.WWPL.TEXT' | translate, imagePath: '/assets/images/logos/wywrotki.png', alt: 'wrotkarnia wywrotki', 
    children: [
            {imagePath: '/assets/images/logos/wordpress.png', alt: 'wordpress'},
            {imagePath: '/assets/images/logos/mysql.png', alt: 'mysql'},
    ], 
    url: 'https://www.wrotki-wywrotki.pl/' }
    ]"
  ></app-list>
  <div class="image">
    <app-list
      [list]="[
        {
          title: 'HOME.PORTFOLIO.DESIGN.TITLE' | translate,
          text: 'HOME.PORTFOLIO.DESIGN.TEXT' | translate,
          icon: faPaintBrush
        }
      ]"
    ></app-list>
  </div>
  <app-list
    [sectionHeader]="{
      title: 'HOME.PORTFOLIO.OTHERPROJ.TITLE' | translate,
      text: 'HOME.PORTFOLIO.OTHERPROJ.TEXT' | translate
    }"
    [list]="[
      {
        title: 'mzdw.pl',
        text: 'HOME.PORTFOLIO.OTHERPROJ.MZDW.TEXT' | translate,
        imagePath: '/assets/images/logos/mzdw.png',
        alt: 'mazowiecki zarząd dróg wojewódzkich w Warszawie logo',
        children: [
          { imagePath: '/assets/images/logos/vuejs.png', alt: 'vue js logo' },
          {
            imagePath: '/assets/images/logos/laravel.png',
            alt: 'laravel logo'
          },
          { imagePath: '/assets/images/logos/nodejs.png', alt: 'nodejs logo' }
        ],
        url: 'https://mzdw.pl/'
      },
      {
        title: 'czachauto.pl',
        text: 'HOME.PORTFOLIO.OTHERPROJ.DRCZACH.TEXT' | translate,
        imagePath: '/assets/images/logos/drczach.png',
        alt: 'danuta ryszard czach logo',
        children: [
          { imagePath: '/assets/images/logos/vuejs.png', alt: 'vue js logo' },
          {
            imagePath: '/assets/images/logos/laravel.png',
            alt: 'laravel logo'
          },
          { imagePath: '/assets/images/logos/nodejs.png', alt: 'nodejs logo' }
        ],
        url: 'https://czachauto.pl/'
      }
    ]"
  ></app-list>

  <app-tiles
    [sectionHeader]="{
      title: 'HOME.PORTFOLIO.OTHERSKILLS.TITLE' | translate,
      text: 'HOME.PORTFOLIO.OTHERSKILLS.TEXT' | translate,
    }"
    [tiles]="[
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.CLEANCODE.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.CLEANCODE.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PATTERNS.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PATTERNS.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PLANNING.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PLANNING.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.SERVERS.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.SERVERS.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.NETWORK.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.NETWORK.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.VIDEO.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.VIDEO.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PCTECH.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.PCTECH.TEXT' | translate,
      },
      {
        title: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.SOLDER.TITLE' | translate,
        text: 'HOME.PORTFOLIO.OTHERSKILLS.SKILLS.SOLDER.TEXT' | translate,
      },
    ]"
    [percentage]="30"
  ></app-tiles>
</div>
