<div class="page">
    <app-tiles
            [tiles]="[
            {imagePath: '/assets/images/logos/csharp.png', alt: 'c#'},
            {imagePath: '/assets/images/logos/netcore.png', alt: '.NET Core'},
            {imagePath: '/assets/images/logos/cpp.png', alt: 'c++'},
            {imagePath: '/assets/images/logos/git.png', alt: 'git source control'},
            {imagePath: '/assets/images/logos/mysql.png', alt: 'mysql'},
            {imagePath: '/assets/images/logos/php.png', alt: 'php'},
            {imagePath: '/assets/images/logos/laravel.png', alt: 'laravel'},
            {imagePath: '/assets/images/logos/flutter.png', alt: 'flutter'},
            {imagePath: '/assets/images/logos/dart.png', alt: 'dart'},
            {imagePath: '/assets/images/logos/web.png', alt: 'web elements'},
            {imagePath: '/assets/images/logos/angular.png', alt: 'angular'},
            {imagePath: '/assets/images/logos/vuejs.png', alt: 'vuejs'},
            {imagePath: '/assets/images/logos/wordpress.png', alt: 'wordpress.org'},
            {imagePath: '/assets/images/logos/joomla!.png', alt: 'joomla!'},
            {imagePath: '/assets/images/logos/linux.png', alt: 'linux'},
            {imagePath: '/assets/images/logos/vsc.png', alt: 'visual studio code'},
            {imagePath: '/assets/images/logos/vs.png', alt: 'visual studio'},
            {imagePath: '/assets/images/logos/nginx.png', alt: 'nginx'},
            {imagePath: '/assets/images/logos/nodejs.png', alt: 'nodejs'},
            {imagePath: '/assets/images/logos/vmware.png', alt: 'vmware'},
            ]"
            ></app-tiles>
</div>
