<div class="page"><app-imgtext
        [sectionHeader]="{ title: 'First of it’s kind. Real game of skate or anything around the world!', text: 'Set up a game, wait for players to join or force start the game. Each game phase is timed so you wont get stuck in case someone is inactive. Set tricks, vote on other player attempts, repeat tricks and even chat during the game. Leave game in any moment you want. Win or lose.' }"></app-imgtext>
</div>
<div class="page"><app-imgtext
        [sectionHeader]="{ title: 'Play and chat in real time!', text: 'Chat with other players during the game!' }"
        [imagePath]="'/assets/images/AuthorCropped.png'" [alt]="'author holding laptop and skateboard'"></app-imgtext>
</div>
<div class="page"><app-imgtext
        [sectionHeader]="{ title: 'Whatever you ride!', text: 'Do you skate or scoot? Or maybe you ride BMX? App is open for anyone!' }"></app-imgtext>
</div>