<div class="page">
    <div class="container">
        <div class="content">
        <h1 style="padding: 40px 0;">How to delete profile in Redo App</h1>
        <h3>To delete profile, simply:</h3>
        <ol>
            <li>navigate to your profile settings,</li>
            <li>scroll down,</li>
            <li>press red floating action button with trash can icon,</li>
            <li>confirm your password,</li>
            <li>press delete</li>
        </ol>
        <h3>What happens when I delete my profile?</h3>
        <ul>
            <li>Public data that could identify the person (excluding sent video files) is wiped from our system.</li>
            <li>The account is locked, preventing further access.</li>
        </ul>
        </div>
    </div>
</div>