<div class="page">
  <section>
    <div class="container">
      <div class="content">
        <h1 style="padding: 40px 0">
          {{ "REDO.H2DELETEPROF.TITLEFULL" | translate }}
        </h1>
        <h3>{{ "REDO.H2DELETEPROF.DELPROF.TITLE" | translate }}</h3>
        <ol>
          <li>{{ "REDO.H2DELETEPROF.DELPROF.NAVIGATE" | translate }}</li>
          <li>{{ "REDO.H2DELETEPROF.DELPROF.SCROLL" | translate }}</li>
          <li>{{ "REDO.H2DELETEPROF.DELPROF.PRESS" | translate }}</li>
          <li>{{ "REDO.H2DELETEPROF.DELPROF.CONFIRM" | translate }}</li>
          <li>{{ "REDO.H2DELETEPROF.DELPROF.PRESSDEL" | translate }}</li>
        </ol>
        <h3>{{ "REDO.H2DELETEPROF.HAPPENS.TITLE" | translate }}</h3>
        <ul>
          <li>{{ "REDO.H2DELETEPROF.HAPPENS.DATA" | translate }}</li>
          <li>{{ "REDO.H2DELETEPROF.HAPPENS.ACCOUNT" | translate }}</li>
        </ul>
      </div>
    </div>
  </section>
</div>
