<div class="page">
  <app-imgtext
    [sectionHeader]="{
      title: 'HOME.CONTACT.TITLE' | translate,
      text: 'HOME.CONTACT.TEXT' | translate,
    }"
    [url]="'mailto:contact@guzuucode.pl'"
    [buttonText]="'HOME.CONTACT.BUTTON' | translate"
    [images]="[
      {
        imagePath: '/assets/images/portrait.jpg',
        alt: 'portrait photo of website author',
        size: 400,
        boxed: true,
      },
    ]"
    [reversed]="true"
    [backgroundImg]="false"
  ></app-imgtext>
</div>
