/* You can add global styles to this file, and also import other style files */
$primary-background: #222831;
$secondary-background: #393E46;
$primary-color: #FFD369;
$primary-content: #FFFFFF;
$grey: #EEEEEE;

body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: $primary-background;
    color: $primary-content;
    width: 100%;
    >.content{
        max-width: 1300px;
        padding: 50px 10px;
        margin: auto;
    }
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: $primary-content;
    &:hover,:active,:focus{
        color: $primary-color;
    }
}
