<div class="container">
    <div class="content">
        <div *ngIf="sectionHeader != null" class="section-header"
            [ngStyle]="{'text-align': (headerCentered) ? 'center' : null}">
            <h2>{{sectionHeader.title}}</h2>
            <p>
                {{sectionHeader.text}}
            </p>
        </div>
        <div class="list">
            <div *ngFor='let item of list'>
                <a *ngIf="item.url; else noLink" [href]="item.url" [target]="item.url.includes('http') ? '_blank' : '_self'">
                    <div class="list-item">
                        <div>
                            <h3>{{item.title}}</h3>
                            <p>
                                {{item.text}}
                            </p>
                        </div>
                        <div class="img-icon">
                            <img *ngIf="item.imagePath != null" [src]="item.imagePath" [alt]="item.alt">
                            <fa-icon *ngIf="item.icon != null" [icon]="item.icon" size="4x"></fa-icon>
                        </div>
                    </div>
                </a>
                <ng-template #noLink>
                    <div class="list-item">
                        <div>
                            <h3>{{item.title}}</h3>
                            <p>
                                {{item.text}}
                            </p>
                        </div>
                        <div class="img-icon">
                            <img *ngIf="item.imagePath != null" [src]="item.imagePath" [alt]="item.alt">
                            <fa-icon *ngIf="item.icon != null" [icon]="item.icon" size="5x"></fa-icon>
                        </div>
                    </div>
                  </ng-template>
                <app-tileselement *ngIf="item.children != null" [tiles]="item.children" [isSubTiles]="true"
                ></app-tileselement>
            </div>
        </div>
    </div>
</div>