@import "../../../variables.scss";

.container {
  display: flex;

  > .content {
    z-index: 10;
    padding: 40px 20px;

    p {
      margin-bottom: 0;
    }

    .section-header {
      padding-bottom: 40px;
    }

    @media (max-width: 768px) {
      text-align: center;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    a > .list-item {
      transition: all 1s ease;

      &:hover {
        border: 3px solid transparent;
        background: linear-gradient($primary-background 0 0) padding-box,
        linear-gradient(5deg, $primary-color, $border 40% 100%) border-box;
      }

      &:active {
        box-shadow: none;
      }
    }

    .list-item {
      background: linear-gradient($primary-background 0 0) padding-box,
      linear-gradient($border 0 0) border-box;
      background-color: $primary-background;
      padding: 40px;
      border-radius: 20px;
      border: 3px solid $border;
      box-shadow: 0px 10px 20px $shadow;
      max-width: 100%;
      display: flex;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      > div {
        align-content: center;
        text-align: center;
      }

      .img-icon {
        color: $primary-color;
        margin-left: 40px;

        @media (max-width: 768px) {
          margin-top: 30px;
          margin-left: 0;
        }
        img {
          width: 140px;
          border-radius: 10px;
        }
      }

      .img-icon-bg {
        display: flex;
        background-color: $primary-content;
        padding: 10px;
        border-radius: 10px;
        width: fit-content;
        height: fit-content;
        align-self: center;

        img {
          border-radius: 0;
        }
      }

      h4 {
        text-align: left;
        @media (max-width: 768px) {
          text-align: center;
        }
      }

      p {
        text-align: justify;
      }
    }
  }
}
