@import "../../../variables.scss";

.container {
    display: flex;

    >.content {
        z-index: 10;
        padding: 40px 20px;

        p {
            margin-bottom: 0;
        }

        .section-header {
            padding-bottom: 40px;
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        a>.list-item {
            transition: all 0.3s ease;

            &:hover {
                box-shadow: none;
            }

            &:active {
                box-shadow: inset 5px 5px 15px black;
            }
        }

        .list-item {
            background-color: $primary-background;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 5px 5px 20px black;
            max-width: 100%;
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            >div {
                align-content: center;
                text-align: center;
            }

            .img-icon {
                color: $primary-color;
                margin-left: 40px;

                @media (max-width: 768px) {
                    margin-top: 40px;
                    margin-left: 0;
                }
                img {
                    width: 140px;
                    border-radius: 10px;
                }
            }

            h3,p{
                text-align: justify;
            }
        }
    }


}