<div class="page">
  <section>
    <div class="container">
      <div class="content">
        <h1 style="padding: 40px 0">
          {{ "REDO.PRIVACYPOLICY.TITLE" | translate }}
        </h1>
        <span>{{ "REDO.PRIVACYPOLICY.EFFDATE" | translate }}</span>
        <p>{{ "REDO.PRIVACYPOLICY.ENTRY" | translate }}</p>
        <p>{{ "REDO.PRIVACYPOLICY.ENSURE" | translate }}</p>
        <h2>{{ "REDO.PRIVACYPOLICY.COLLINFO" | translate }}</h2>
        <h3>{{ "REDO.PRIVACYPOLICY.ACCCREAT.TITLE" | translate }}</h3>
        <p>{{ "REDO.PRIVACYPOLICY.ACCCREAT.TEXT" | translate }}</p>
        <ol>
          <li>
            <b>{{
              "REDO.PRIVACYPOLICY.ACCCREAT.USERNAME" | translate
            }}</b>
            {{ "REDO.PRIVACYPOLICY.ACCCREAT.TOPERSONALIZE" | translate }}
          </li>
          <li>
            <b>{{
              "REDO.PRIVACYPOLICY.ACCCREAT.EMAIL" | translate
            }}</b>
            {{ "REDO.PRIVACYPOLICY.ACCCREAT.VERIFICATION" | translate }}
          </li>
        </ol>
        <p>{{ "REDO.PRIVACYPOLICY.ACCCREAT.ADDITION" | translate }}</p>
        <h3>{{ "REDO.PRIVACYPOLICY.VIDUPL.TITLE" | translate }}</h3>
        <p>{{ "REDO.PRIVACYPOLICY.VIDUPL.TEXT" | translate }}</p>
        <h2>{{ "REDO.PRIVACYPOLICY.DATA.TITLE" | translate }}</h2>
        <p>{{ "REDO.PRIVACYPOLICY.DATA.TEXT" | translate }}</p>
        <h2>{{ "REDO.PRIVACYPOLICY.PUBLICCONTENT.TITLE" | translate }}</h2>
        <p>{{ "REDO.PRIVACYPOLICY.PUBLICCONTENT.TEXT" | translate }}</p>
        <h2>{{ "REDO.PRIVACYPOLICY.PROFDEL.TITLE" | translate }}</h2>
        <p>{{ "REDO.PRIVACYPOLICY.PROFDEL.TEXT" | translate }}</p>
        <ol>
          <li>{{ "REDO.H2DELETEPROF.HAPPENS.DATA" | translate }}</li>
          <li>
            {{ "REDO.H2DELETEPROF.HAPPENS.ACCOUNT" | translate }}
          </li>
        </ol>
        <p>{{ "REDO.PRIVACYPOLICY.PROFDEL.ADDITION" | translate }}</p>
        <h2>{{ "REDO.PRIVACYPOLICY.SECURITY.TITLE" | translate }}</h2>
        <p>{{ "REDO.PRIVACYPOLICY.SECURITY.TEXT" | translate }}</p>
        <h2>{{ "REDO.PRIVACYPOLICY.CHANGES.TITLE" | translate }}</h2>
        <p>{{ "REDO.PRIVACYPOLICY.CHANGES.TEXT" | translate }}</p>
      </div>
    </div>
  </section>
</div>
