<div class="page">
    <div class="container">
        <div class="content">
        <h1 style="padding: 40px 0;">Privacy policy</h1>
        <span>Effective Date: 23.01.2024</span>
        <p>GuzuuCode (“us”, “we”, or “our”) operates the Redo mobile application (the “App”). This page informs you of our
            policies regarding the collection, use, and disclosure of personal data when you use our App and the choices you
            have associated with that data.</p>
        <p>We are committed to ensuring that your privacy is protected. Should we ask you to provide certain information by
            which you can be identified when using this App, you can be assured that it will only be used in accordance with
            this privacy statement.</p>
        <h2>Information Collection and Use</h2>
        <h3>Account Creation</h3>
        <p>When you create an account with Redo, we may collect the following information:</p>
        <ul>
            <li><b>Username:</b> To personalize your experience and facilitate communication within the App.</li>
            <li><b>Email Address:</b> For account verification and communication purposes.</li>
        </ul>
        <p>This information is used solely for the purpose of providing you with access to the Redo App and its features.</p>
        <h3>Video Uploads and Profile Avatar</h3>
        <p>Redo allows users to upload video files and set a profile avatar. Please note that the video files and profile
            avatars you upload will be visible to other Redo users, as these features are designed to enhance social
            interaction within the App.</p>
        <h2>Data Sharing</h2>
        <p>Redo does not share any user data, including personal information, with third parties. Your data is securely
            stored and processed within the confines of the Redo App.</p>
        <h2>Publicly Shared Content</h2>
        <p>Please be aware that any videos and profile avatars you upload to Redo are considered public content and may be
            visible to other users of the App. Exercise caution and ensure that you only share content that you are
            comfortable being public.</p>
        <h2>User Profile Deletion</h2>
        <p>Users have the option to delete their profiles within the App. When a user deletes their profile, the following
            actions occur:</p>
        <ul>
            <li>Public data that could identify the person (excluding sent video files) is wiped from our system.</li>
            <li>The account is locked, preventing further access.</li>
        </ul>
        <p>This ensures that your personal information is removed from public view, and access to your account is restricted.</p>
        <h2>Security</h2>
        <p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or
            disclosure, we have put in place suitable physical, electronic, and managerial procedures to safeguard and
            secure the information we collect online.</p>
        <h2>Changes to This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any
            changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are
            effective immediately after they are posted on this page.</p>
        </div>
    </div>
</div>