<app-header (toggleMenu)="toggleMenu()"></app-header>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="isMenuOpen" mode="push">
        <div>
            <app-navmenu [vertical]="true"></app-navmenu>

            <ul>
                <li>
                    <app-socials></app-socials>
                </li>
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>