@import "../variables.scss";

mat-sidenav-container {
  background-color: transparent;
}
mat-sidenav {
  width: fit-content;
  padding: 0 20px;
  position: fixed;
  top: 80px;
  background-color: $primary-background;
  border-radius: 0;

  ul {
    padding-inline: 20px;
    > li {
      padding: 10px 0;
    }
  }
}
