<app-imgtext
    [sectionHeader]="{ title: 'Mateusz Guz', text: 'Hello, welcome to my webpage I designed and coded, running on the server I set up, on the machine I assembled, connected to the router I configured. This website is pretty simple so check out my other software here' }"
    [imagePath]="'/assets/images/AuthorCropped.png'"
    [alt]="'author holding laptop and skateboard'"
></app-imgtext>
<app-tiles
    [sectionHeader]="{ title: 'Mateusz Guz', text: 'This is a section header' }"
    [tiles]="[
        { title: 'Tile 1', text: 'This is the first tile' },
        { title: 'Tile 2', text: 'This is the second tile' },
        { title: 'Tile 3', text: 'This is the third tileThis is the third tileThis is tThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tilehe third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tile' }
    ]"
></app-tiles>
<app-list
    [sectionHeader]="{ title: 'Example Header', text: 'This is a section header' }"
    [list]="[
    { title: 'Tile 1', text: 'This is the first tile' },
    { title: 'Tile 2', text: 'This is the second tileThis is tThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tilehe third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tileThis is the third tile' },
    { title: 'Tile 3', text: 'This is the third tile' }
    ]"
></app-list>